# ===== PYTHON =====
*.py[cod]
*.pyo
*.pyd
__pycache__/
.python-version

# ===== ВИРТУАЛЬНЫЕ ОКРУЖЕНИЯ =====
venv/
.env/
env/
.venv/
ENV/
env.bak/
venv.bak/

# ===== РЕДАКТОРЫ И IDE =====
.idea/
.vscode/
*.swp
*.swo
*.bak
*~

# ===== СИСТЕМНЫЕ ФАЙЛЫ =====
.DS_Store
Thumbs.db

# ===== ТЕСТИРОВАНИЕ =====
.coverage
htmlcov/
.pytest_cache/
/tests/

# ===== ЛОГИ =====
logs/
*.log